*.lo
*.so
*.so.*
*.la
*.o
*.dirstamp
*.dylib
*.a
*.lai
**/CHS
include/*
src/autotools/bins/bin/*
src/autotools/libs/lib/*
src/autotools/libs/.libs/*
**/.deps/*
**/.DS_Store
autom4te.cache/
**/Makefile.in
.settings/
**/*.guess
**/*.log
**/*.status
**/*.sub
configure
missing
libtool
depcomp
compile
install-sh
ltmain.sh
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~*.m4
**/AppDefines.h.in
.settings/
**/CMakeFiles/
**/cmake_install.cmake
CMakeCache.txt
cmake_install.cmake
**/.vagrant
*.cpgz
.autotools
.externalToolBuilders/
*-e
*.old
callgrind.out*
tests/autotools/.libs/tests
tests/autotools/tests
src/autotools/bins/.libs/ffead-cpp
src/autotools/bins/ffead-cpp
lang-server-backends/rust/hyper-ffead-cpp/target
lang-server-backends/rust/actix-ffead-cpp/target
lang-server-backends/rust/rocket-ffead-cpp/target
lang-server-backends/rust/thruster-ffead-cpp/target
lang-server-backends/java/firenio/target
lang-server-backends/java/rapidoid/target
lang-server-backends/java/wizzardo-http/target
**/ffead-cpp-3.0.build
**/ffead-cpp-6.0.build
**/CMakeScripts
**/.build
**/.swiftpm
/Debug/
ffead-cpp-6.0-bin/
build/
nginx-*/
docker/test/src
docker/test/web
**/Makefile
**/*.tar.gz*
**/.swiftpm
**/.build
**/app.xcodeproj
**/.xmake
buildnin
ffead-cpp-interface-test-lib/\.*
**/node_modules
.bzltemp
.sconf_temp
shellb_out
.shellb
buck-out
bazel-bin
bazel-out
bazel-testlogs
bazel-ffead-cpp
code-snippets-build/
.bztmp
prelude