*.lo
*.so
*.so.*
*.la
*.o
*.dirstamp
*.dylib
*.a
*.lai
**/CHS
**/ffead-cpp
ffead-cpp-*/*
include/*
src/autotools/bins/bin/*
src/autotools/libs/lib/*
src/autotools/libs/.libs/*
**/.deps/*
**/.DS_Store
autom4te.cache/
**/Makefile
**/Makefile.in
.settings/
**/*.guess
**/*.log
**/*.status
**/*.sub
configure
missing
libtool
depcomp
compile
install-sh
ltmain.sh
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~*.m4
**/AppDefines.h.in
.settings/
**/CMakeFiles/
**/cmake_install.cmake
CMakeCache.txt
cmake_install.cmake
**/.vagrant
*.cpgz