name: Cross compile ffead-cpp for musl

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip_build]')"
    steps:
    - uses: actions/checkout@v2
    - name: Cross compile ffead-cpp for musl
      run: |
        cd docker
        docker build -f DockerFile-cross-musl .
