name: Build ffead-cpp on opensuse

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip_build]')"
    steps:
    - uses: actions/checkout@v2
    - name: Build ffead-cpp on opensuse
      run: |
        cd docker/os-based
        docker build -f DockerFile-OpenSuseTumbleweed-x64-ffead-cpp-4.0 .
        docker build -f DockerFile-OpenSuseTumbleweed-x64-ffead-cpp-4.0_autoconf .
