name: Scons build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip_build]')"
    steps:
    - uses: actions/checkout@v2
    - name: Build ffead-cpp with scons
      run: |
        cd docker/os-based
        docker build -f DockerFile-Ubuntu-x64-ffead-cpp-scons .
